# Important Points in pandas:

### ● Pandas is used for working with data sets
### ● Series1 + Series2 + Series3 = DataFrame
### ● A Series is a 1D array consist of : values + labels(index)
### ● These values are similar types
### ● Series(list) convert the list to a column in the table

In [1]:
import pandas as pd

list = ['Ahmed', 'Ali', 'Salah']
series = pd.Series(list)
list

['Ahmed', 'Ali', 'Salah']

In [2]:
series

0    Ahmed
1      Ali
2    Salah
dtype: object

# To get Values of series and index of series:

In [3]:
list = ['Ahmed', 'Ali', 'Salah', 'Khaled']
series = pd.Series(list)
values = series.values
index = series.index
values

array(['Ahmed', 'Ali', 'Salah', 'Khaled'], dtype=object)

In [4]:
index

RangeIndex(start=0, stop=4, step=1)

# To change the index of the table:

In [5]:
list = ['Ahmed', 'Ali', 'Salah', 'Khaled']
index_1 = pd.Index(['a', 'b', 'c', 'd'])
index_2 = pd.RangeIndex(start = 1, stop = 5, step = 1)
ser_1 = pd.Series(list, index_1)
ser_2 = pd.Series(list, index_2)
ser_1

a     Ahmed
b       Ali
c     Salah
d    Khaled
dtype: object

In [6]:
ser_2

1     Ahmed
2       Ali
3     Salah
4    Khaled
dtype: object

# Describe Method() return statistics information:

In [7]:
list1 = [5, 10, 15, 20, 25, 30]  # numbers
ser1 = pd.Series(list1)
print(ser1.describe())
print(20 * '-')

list2 = ['a', 'b', 'c', 'a', 'a', 'd']  # str
ser2 = pd.Series(list2)
print(ser2.describe())

count     6.000000
mean     17.500000
std       9.354143
min       5.000000
25%      11.250000
50%      17.500000
75%      23.750000
max      30.000000
dtype: float64
--------------------
count     6
unique    4
top       a
freq      3
dtype: object

# How to get one property in Describe Method():

In [8]:
list = [5, 10, 15, 20, 25, 30]
ser = pd.Series(list)

print(ser.mean())
print(18 * '-')

print(ser.std())
print(18 * '-')

print(ser.max())
print(18 * '-')

print(ser.sum())

17.5
------------------
9.354143466934854
------------------
30
------------------
105

## Data Frame is 2D size mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns):

In [9]:
list = [1000, 2000, 3000, 4000]
DF_1 = pd.DataFrame(list)
DF_2 = pd.DataFrame(list, index=['a', 'b', 'c', 'd'], columns=['Salary'])

print(DF_1)
print('-' * 15)

print(DF_2)

      0
0  1000
1  2000
2  3000
3  4000
---------------
   Salary
a    1000
b    2000
c    3000
d    4000

# How to get index, values, and column frames:

In [10]:
list = [1000, 2000, 3000, 4000]
DF_1 = pd.DataFrame(list)

print(DF_1.index)
print('-' * 35)

print(DF_1.values)
print('-' * 35)

print(DF_1.columns)

RangeIndex(start=0, stop=4, step=1)
-----------------------------------
[[1000]
 [2000]
 [3000]
 [4000]]
-----------------------------------
RangeIndex(start=0, stop=1, step=1)

# Describe DataFrame:

In [11]:
ist = [1000, 2000, 3000, 4000]
DF_1 = pd.DataFrame(list)
print(DF_1.describe())

                 0
count     4.000000
mean   2500.000000
std    1290.994449
min    1000.000000
25%    1750.000000
50%    2500.000000
75%    3250.000000
max    4000.000000